/* https://codepen.io/collection/mrzvJN?grid_type=grid&cursor=eyJjb2xsZWN0aW9uX2lkIjoibXJ6dkpOIiwiY29sbGVjdGlvbl90b2tlbiI6bnVsbCwibGltaXQiOjQsIm1heF9pdGVtcyI6MTAsIm9mZnNldCI6OCwicGFnZSI6Mywic29ydF9ieSI6InBvc2l0aW9uIiwic29ydF9vcmRlciI6IkFzYyJ9 */

.output {
	text-align:center;
	font-family: 'Source Code Pro', monospace;
	color:#000000;
	h1 {
		font-size:30px;
	}
}
	
/* Cursor Styling */

.cursor::after {
	content:'';
	display:inline-block;
	margin-left:3px;
	background-color:#000000;
	animation-name:blink;
	animation-duration:0.5s;
	animation-iteration-count: infinite;
}
h1.cursor::after {
	height:24px;
	width:13px;
}
p.cursor::after {
	height:13px;
	width:6px;
}

@keyframes blink {
	0% {
		opacity:1;
	}
	49% {
		opacity:1;
	}
	50% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}
